@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700';
#topBar {
    text-align: center;
}

#title {
    font-size: 4em;
}

#title {
    font-style: normal;
    font-weight: 600;
    color: #fff;
}

#container {
    height: 800px;
}

#result {
    background-color: #000000;
    height: 800px;
    color: #fff;
}

@media screen and (max-width: 35.5em) { /* 568px or less */
    #title {
        font-size: 3em;
    }
    #container{
        width: 45%;
    }
    #result {
        width: 45%;
    }
  }

  .head-color {
      color: #fff;
      text-align: center;
  }